body {
  font-family: 'Arial', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&display=swap');


.i{
  font-family: "Gwendolyn", cursive;
  font-weight: 700;
  font-style: normal;
}

.header {
  background-color: #ffcc00;
  color: white;
  padding: 20px 0;
}

.MainBanner {
  /* background-image: url('path_to_banner_image.jpg'); */
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
}

.Banner-content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(#00000014, #000);
}



.timeline-item{
  padding: 30px;
  min-height: 200px;
  background-color: #fff;
  
  /* backdrop-filter: blur(10px); */
  border: 5px solid #ffde73;
  color: #fff94b;
  background-size: cover;
  background-color: #000000 !important;
}
.timeline-item span:nth-child(1){
  color: #ffe600;
}
.date{
  padding: 50px;
  /* border: 2px solid #000; */
  min-height: 350px;
  height: 100%;
  background: url(https://static.vecteezy.com/system/resources/previews/023/932/396/original/gold-corner-art-asian-buddhism-temple-file-for-decoration-png.png) no-repeat center bottom;
  background-size:100%;
  box-shadow: 0px 0px 10px #020000;
  font-weight: bold;
  /* border: 2px solid #89620078; */
  background-color: #6d363c;
  color: #fce492;
  border-radius: 10px;
  font-size: 1.3rem;
}

.col-md-4{
  margin-bottom: 20px;
}
.display-10{
  font-size: 5rem;
}




.Footer {
  background-color: #000000;
  color: white;
}

.Footer .SocialMedia a {
  margin: 0 10px;
  color: white;
}


.MainBanner video{
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.bg{
  background: url(https://img.freepik.com/premium-vector/seamless-wallpaper-vector-illustration_389737-51.jpg) center;
  min-height: 30px;
  /* background-size: cover; */
}

.bg2{
  background: url(https://png.pngtree.com/png-vector/20240115/ourmid/pngtree-chinese-new-year-chinese-new-year-frame-decoration-vector-png-image_11436876.png) center top;
  min-height: 100px;
  /* background-size: cover; */
}

.Schedule{
  background: url(https://img.freepik.com/free-vector/elegant-background-red-gold_1048-12306.jpg?size=338&ext=jpg&ga=GA1.1.1141335507.1717804800&semt=ais_user) center top;
  /* background-size: cover; */
}
.App{
  background-color: #3b0000;
}
.thanks{
  width: 200px;
  margin: auto;
  display: block;
}
@media (max-width:768px){
  .MainBanner video{
    height: 70vh;
  }
}

